body{
	background: orange;
}
li {
	border: 2px solid red;
}

input[type="text"]{
	/*background: purple;*/
	border: 5px solid blue;
}

button{
	background: purple;
	border: 5px solid blue;
}

#special{
	background: yellow;
}

.completed {
	text-decoration: line-through;
}